<ul class="aa-breadcrumb">
    <li><a href="#">Pauta</a></li>
    <li><a href="#">Ver Pautas</a></li>   
</ul>
<div class="bar">
    <span>
        <a href="javascript:void(0)" class="openbtn" (click)="showHideSearch()"><i class="fa fa-search"></i></a>
    </span>
    <div class="panel" id="searchPanel">
        <a class="right closebtn" (click)="doSearch()"><i class="fa fa-check"></i></a>
        <p>
            <label for="dtCriacaoDe">De: </label><input type="datetime-local" name="dtCriacaoDe" id="dtCriacaoDe" value="{{ de | date:'yyyy-MM-ddTHH:mm:ss' }}"/>
            <label for="dtCriacaoAte">Até: </label><input type="datetime-local" name="dtCriacaoAte" id="dtCriacaoAte" value="{{ ate | date:'yyyy-MM-ddTHH:mm:ss' }}"/>
        </p>
        <p>
            <input type="text" name="autor" id="autor" placeholder="Nome do autor contém"/>
            <input type="text" name="titulo" id="titulo" placeholder="Título contém"/>
            <input type="text" name="texto" id="texto" placeholder="Texto contém"/>
        </p>
    </div>
</div>
<div class="main" id="listPanel">
    <table>
        <caption>
            Pautas
        </caption>
        <tr>
            <th>Autor</th>
            <th>Data Criação</th>
            <th>Conteúdo</th>
        </tr>
        <tr *ngFor="let item in asPautas">
            
            <td>
                <h4>{{item.titulo}}</h4>
                <p>{{item.texto}}</p>
                <p>Escolher até: {{item.qtRespostas}}</p>
                <ul>
                    <li *ngfor="let resposta in element.respostas">{{resposta}}</li>
                </ul>
            </td>
        </tr>
    </table>
</div>