  .bar{
    border-color: black;
    border-width: 1px;
  }
  .panel {
    width: 100%;
    height: 5em; /* 0 width - change this with JavaScript */
    position: relative; 
    z-index: 1; /* Stay on top */
    background-color: whitesmoke; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* Position and style the close button (top right corner) */
  .panel .closebtn {
    position: relative;
    font-size: 24px;
    margin-right: 5%;
  }

  .panel p {
    margin: 0.5em;
  }
  
.openbtn {
  position: relative;
  right: 10%;
  font-size: 36px;
  margin-left: 17px;
  text-decoration: none;
  text-align: end;
  color: #818181;
  display: block;
  transition: 0.3s;
}

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  