<ul class="breadcrumb">
    <li><a href="#">Pauta</a></li>
    <li><a href="#">Nova Pauta</a></li>   
</ul>
<div>
    <input type="text" placeholder="Autor" name="autor" id="autor"/>
    <span class="right">
        <input type="datetime-local" name="dtCriacao" id="dtCriacao" disabled="true" value="{{ agora | date:'yyyy-MM-ddTHH:mm:ss' }}" />
        <input type="number" name="qtdRespostas" id="qtdRespostas" value="1"/>
        <input type="button" value="Salvar" (click)="onClick(respostasList.getRespostas())"/>
    </span>
    <br/>
    <p>
        <input class="titulo full-width" type="text" name="titulo" id="titulo" placeholder="Título"/>
    </p>
    <p>
        <textarea class="full-width" placeholder="Texto da pauta" name="texto" id="texto" rows="10" ></textarea>
    </p>
    <respostas-list style="width: 100%;" #respostasList></respostas-list>
</div>