.container-of-containers{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    background-image: url('./assets/assuntos-aleatorios-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.a-div {
    background-color: #FCFCFCBD;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 5%;
    border-color: #ffd2d2;
    border-width: 2px;
}

.openbtn {
  position: absolute;
  top: 10%;
  left: 0;
  font-size: 36px;
  margin-left: 17px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Style the list */
ul.aa-breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
ul.aa-breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
ul.aa-breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
ul.aa-breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
ul.aa-breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

input, textarea {
    margin: 3px;
}